    /* Custom Stylesheet */

    nav ul a, nav .brand-logo {
      /* brand-logo color */
      color: #607D8B;
    }

    p {
      /* p line-height */
      line-height: 2rem;
    }

    .button-collapse {
      /* button-collapse color */
      color: #26a69a;
    }

    .parallax-container {
      /* parallax container things */
      min-height: 380px;
      line-height: 0;
      height: auto;
      color: rgba(255, 255, 255, .9);
    }

    .parallax-container .section {
      /* parallax container section width */
      width: 100%;
    }

    #index-banner {
      /* index-banner height*/
      height: 95vh;
    }

    @media only screen and (max-width: 992px) {
      /* large screen things */
      .parallax-container .section {
        position: absolute;
        top: 40%;
      }
      #index-banner .section {
        top: 10%;
      }
    }

    @media only screen and (max-width: 600px) {
      /* small screen things */
      #index-banner .section {
        top: 0;
      }
    }

    .icon-block {
      /* icons padding */
      padding: 0 15px;
    }

    .icon-block .material-icons {
      /* icons size */
      font-size: inherit;
    }

    footer.page-footer {
      /* page fotter margin */
      margin: 0;
    }

    #sidenav-overlay {
      /* sidenav overlay z-index*/
      /* this makes the darkened thing on the sidenav */
      z-index: inherit;
    }
    /* */
    /*** Forms color change ***/
    /* */

    .input-field label {
      /* Label color change */
      color: #fff;
    }

    .input-field input[type=text], .input-field input[type=email], .input-field textarea.materialize-textarea {
      /* label underline color */
      border-bottom: 1px solid #fff;
    }

    .input-field input[type=text]:focus+label, .input-field input[type=email]:focus+label, .input-field textarea.materialize-textarea:focus+label {
      /* label focus color */
      color: #18FFFF;
    }

    .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea.materialize-textarea:focus {
      /* label underline focus color */
      border-bottom: 1px solid #18FFFF;
      box-shadow: 0 1px 0 0 #18FFFF;
    }

    .input-field input[type=text].valid, .input-field input[type=email].valid, .input-field textarea.materialize-textarea.valid {
      /* valid color */
      border-bottom: 1px solid #64FFDA;
      box-shadow: 0 1px 0 0 #64FFDA;
    }

    .input-field input[type="text"].invalid, .input-field input[type="email"].invalid, .input-field textarea.materialize-textarea.invalid {
      /* invalid color */
      border-bottom: 1px solid #FF4081;
      box-shadow: 0 1px 0 0 #FF4081;
    }

    .fa {
      /* Font Awesome */
      font-size: 1.2rem;
      width: 2rem;
      text-align: center;
      border-radius: 50%;
    }

    .fa:hover {
      /* Font Awesome Hover */
      opacity: 0.5;
    }

    .fa-facebook, .fa-twitter, .fa-linkedin, .fa-codepen, .fa-github, .fa-free-code-camp, .fa-chevron-down {
      /* Font Awesome colors */
      color: #ECEFF1;
    }

    .fa-heart {
      /* heart color*/
      color: #E91E63;
    }

    .paragraph-indent {
      text-indent: 2em;
      font-weight: 200;
    }
